.row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%; /* 100/7 */
  }
  
  .center {
      width: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: 5rem;
  }

  .radius-small {
    border-radius: 100% 100%;
}